In [1]:
import pandas as pd

In [3]:
data = pd.DataFrame({
    "Name" : ["A","B","C", "D", "E", "F"],
    "Age" : [12, 13, 14, 15, 16, 17],
    "Gender" :["M", "F","M", "F","M", "F"],
    "Fav_color" : ["Red", "Green", "Blue", "Green", "Red", "Green"]
})

In [4]:
data

  Name  Age Gender Fav_color
0    A   12      M       Red
1    B   13      F     Green
2    C   14      M      Blue
3    D   15      F     Green
4    E   16      M       Red
5    F   17      F     Green

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [17]:
encoder = LabelEncoder()

In [18]:
data["Encoded_Gender"]= encoder.fit_transform(data["Gender"])
data["Encoded_fvt_color"] = encoder.fit_transform(data["Fav_color"])

In [19]:
data

  Name  Age Gender Fav_color  Encoded_Gender  Encoded_fvt_color
0    A   12      M       Red               1                  2
1    B   13      F     Green               0                  1
2    C   14      M      Blue               1                  0
3    D   15      F     Green               0                  1
4    E   16      M       Red               1                  2
5    F   17      F     Green               0                  1

In [71]:
one_Hot = OneHotEncoder(sparse_output = False)

In [72]:
one_hot_encoded = one_Hot.fit_transform(data[["Gender"]])

In [73]:
one_hot_encoded

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [67]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [66]:
ordinal = OrdinalEncoder(categories = [["Green", "Red", "Blue"]])

In [64]:
data["ordinal"] = ordinal.fit_transform(data[["Fav_color"]])

In [65]:
data

,Name,Age,Gender,Fav_color,Encoded_Gender,Encoded_fvt_color,FVT_color,ordinal
0,A,12,M,Red,1,2,1.0,1.0
1,B,13,F,Green,0,1,0.0,0.0
2,C,14,M,Blue,1,0,2.0,2.0
3,D,15,F,Green,0,1,0.0,0.0
4,E,16,M,Red,1,2,1.0,1.0
5,F,17,F,Green,0,1,0.0,0.0

In [75]:
data1 = pd.get_dummies(data["Fav_color"])

In [76]:
data.join(data1)

,Name,Age,Gender,Fav_color,Encoded_Gender,Encoded_fvt_color,FVT_color,ordinal,Blue,Green,Red
0,A,12,M,Red,1,2,1.0,1.0,False,False,True
1,B,13,F,Green,0,1,0.0,0.0,False,True,False
2,C,14,M,Blue,1,0,2.0,2.0,True,False,False
3,D,15,F,Green,0,1,0.0,0.0,False,True,False
4,E,16,M,Red,1,2,1.0,1.0,False,False,True
5,F,17,F,Green,0,1,0.0,0.0,False,True,False